<!DOCTYPE html>
<html>
	<% include header.ejs %>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="column large-6 small-12">
						<h2>About Reel Talk</h2>
						<p>Lorem ipsum dolor sit amet, verear blandit copiosae ex eos, cum sumo vituperata ullamcorper an. Ipsum option vel ea, vide appareat splendide vix cu. Menandri moderatius comprehensam mea ad, et nec aeque nostro vivendo. Ei vim accusamus democritum, sea ad doming docendi atomorum.</p>
						<img src="http://placehold.it/480x320">
						<p class="marginBottom">Eros debet assentior ne est, debet blandit disputationi vix cu, option bonorum no per. His lorem simul oblique ei, ea quem temporibus nam, quis illum vis ex. Nulla elaboraret voluptatibus mel ea, et cum integre euismod imperdiet. Duo ut accusam adolescens persequeris, te tale diceret posidonium sed. Nam ea suscipit invenire partiendo, id vitae dicant qui. Et audiam omittam intellegebat vel, sit et liberavisse concludaturque, cu has nobis insolens.</p>
					</div>

					<div class="column large-4 small-12">
						<!-- empty column -->
					</div>
				</div>
			</div>
		</div>

		<% include footer.ejs %>

	</body>
</html>