<div class="section footer">
	<div class="container">
		<div class="row">
			<div class="column large-6 medium-12 small-12">
				<ul>
					<li class="noMarginLeft"><a href="/about">About Reel Talk</a></li>
					<li class="noMarginRight"><a href="/contact">Contact Us</a></li>
				</ul>
			</div>

			<div class="column large-6 medium-12 small-12 right">
				<form method="GET" action="/search">
					<input type='text' name="q" placeholder="Search keywords">
					<input type="submit" name="submit" value="Search" class="searchButton">
				</form>
			</div>
		</div>

		<div class="row copyright">
			<div class="column large-12 medium-12 small-12">
				<p>Copyright &copy; 2017</p>
			</div>
		</div>
	</div>
</div>