<!DOCTYPE html>
<html>
	<% include header.ejs %>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="column large-6 small-12">
					  <% 
							articlesArray.forEach(function(post) {  
						%>
							<h2><a href="/getPost?postid=<%= post._id %>"><%= post.title %></a></h2>
							<h5>By <%= post.name %></h5>
						<% 
							});
						%>
					</div>

					<div class="column large-4 small-12">
					<!-- empty column -->
					</div>
				</div>
			</div>
		</div>

		<% include footer.ejs %>

	</body>
</html>