<!DOCTYPE html>
<html>
	<% include header.ejs %>

		<div class="section contact">
			<div class="container">
				<div class="row">
					<div class="column large-12 medium-12 small-12">
						<h3>Thank you for your submission!</h3>
						<h3>Someone from our team will approve your article before publishing to Reel Talk.</h3>
						<p class="marginBottom">Return to <a href="/" class="inLineLink">homepage</a>.</p>
					</div>
				</div>
			</div>
		</div>

		<% include footer.ejs %>

	</body>
</html>